.text-button {
    border-radius: 8px;
    height: 32px;
    font-weight: bold;
    font-size: 18px;
    padding: 4px 8px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.btn--dark {
    background-color: black;
    color: white;
}
.btn--dark:hover {
    background-color: blue;
}
.btn--dark:focus, .btn--dark:active {
    background-color: darkblue;
}